.cardTask {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background-color: var(--gray-500);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-400);

  input[type="checkbox"] {
    appearance: none;
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 70px;
    border: 2px solid var(--blue);
  }
  input[type="checkbox"]:checked {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-dark);
    border: none;
  }
  input[type="checkbox"]:checked::before {
    content: "✓";
    font-size: 0.6rem;
    color: white;
  }

  .nameTask {
    margin-top: 0;
    font-size: 14px;
    color: var(--gray-100);
    font-weight: 400;
    line-height: 140%;
    width: auto;

  }
  .taskDone{
    text-decoration: line-through;
    margin-top: 0;
    font-size: 14px;
    color: var(--gray-300);
    font-weight: 400;
    line-height: 140%;
    width: auto;
  }

  .trash {
    cursor: pointer;
    color: var(--gray-300);
    height: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #cc0000;
    }
  }
}

.cardTask + .cardTask {
  margin-top: 10px;
}

